.blink_me {
    animation: blinker 2s linear infinite;
    color:yellow;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }
  .logout{
    box-shadow:none !important;
    color:black !important;
    padding-left:5px !important;
  }