.Order_title
{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    
}
.Total_Text
{
    display: flex;
    justify-content: space-between;
}
.Product_ImageContainer
{
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.Product_ImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Product_Text
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Product_Text_Margin h3,.Product_Text_Margin h4, .Product_Text_Margin p{
 text-align: center;
 
}
.Product_Increment
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}


@media (max-width: 767px)
{
    .Order_title
    {
       text-align: center;
        
    }
}