body {
  margin: 0;
  font-family: "Catamaran", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.MuiLink-underlineHover{
  cursor: pointer;
}
.MuiButton-root{
  text-transform : none !important;
}
.MuiButton-textPrimary:hover{
  border-color: #43a047 !important;
  background: #43a047 !important;
}

.MuiListItemText-primary{
  font-size: 12px !important;
  }